body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #3498db, #2c3e50);
    color: #fff;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  
.cards{
  display: flex;
  width: 80%;/*para que tengan espacio sufuciente*/
  padding: 50px;
  margin: 0 auto;
}
 
.cards .card{
  background:#590d22;
  color: white;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  transition: all 0.3s ease;

  box-shadow: -3px 0 10px rgba(0,0,0,0.3),
                -4px 0 10px rgba(0,0,0,0.2),
                  -5px 0 10px rgba(0,0,0,0.1);
}

.cards .card a{
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

.cards .card a:hover{
  color: lightyellow;
}

.cards .card .header{
  flex: 1;
}

.cards .card:hover{
  margin-right: 80px;
  transform: rotate(3deg) translateY(-15px);
}

.cards .card .header .title{
  font-size: 28px;
}

.cards .card .footer .autor a{
  display: flex;
 align-items: center;
 gap: 10px;
}

.cards .card .footer img{
 width: 48px ;
 border-radius: 50%;
}

.cards .card [class*="element"]{
  margin-left: 100px;
}

.element-1:hover,
.element-2:hover{
  margin-left: -130px;
}

 /* Agrega estilos para el párrafo */
.cambioContenido {
    text-align: center;
    font-size: 24px; /* Ajusta el tamaño del texto según tus preferencias */
    color: #fff;
    margin-top: 50px; /* Ajusta la distancia superior según tus preferencias */
    opacity: 0.8; /* Opacidad inicial */
    animation: cambioAnimacion 2s ease-in-out infinite alternate;
    transition: opacity 0.5s ease; /* Ajusta la duración y el efecto de la transición */
  }
  
  /* Agrega estilos al pasar el ratón (puedes ajustar según tus preferencias) */
  .cambioContenido:hover {
    opacity: 1;
    animation-play-state: paused; /* Detiene la animación al pasar el ratón */
  }
  
  @keyframes cambioAnimacion {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  
  
 